<div class="container">
    <div class="row">
        <form class='form login-form'>
            <div class="form-group">
                <label for="InputEmail">Email Address</label>
                <input type="email" class='form-control' id='emailInput' placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class='form-control' id='passwordInput' placeholder="Password">
            </div>
            <button type='submit' class='btn btn-primary'>Login</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>